@model _ZEEN.Models.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Details";
}



<div class="container-fluid ">
    <div class="col-md-6 margin-auto">

        <div class="row">

            <img class="rounded-circle border-white margin-auto" src="@Html.DisplayFor(model => model.user.AvatarImage)" alt="Avatar">
            <hr class="socket" />

            <div class="container text-zeen" style="padding-top:.5rem;">

                @Html.DisplayFor(model => model.user.UserName)  <br />
                Total Money made on the App : $@Html.DisplayFor(model => model.user.TotalMoneyMade)
                <form asp-action="Follow" asp-controller="RegularUsers">
                    <input type="hidden" asp-for="follower.To" value="@Model.user.ApplicationUserId" />
                    <input type="hidden" asp-for="follower.Sender" value="@Model.user.UserName" />

                    <input type="submit" value="Follow" class="btn btn-zeen-r" />
                </form>  @ViewData["Followers"]

            </div>
        </div>

        <hr class="socket" />

        <div class="row">

            <div class="container text-zeen-dark">
                @Html.DisplayNameFor(model => model.user.FirstName):
                @Html.DisplayFor(model => model.user.FirstName)<br />



                @Html.DisplayNameFor(model => model.user.LastName): @Html.DisplayFor(model => model.user.LastName)<br />
                Gender: @Html.DisplayFor(model => model.user.Gender)<br />

                @Html.DisplayNameFor(model => model.user.Bio): @Html.DisplayFor(model => model.user.Bio)<br />
                Website: @Html.DisplayFor(model => model.user.WebSite)<br />

                Address: @Html.DisplayFor(model => model.user.Street)

                @Html.DisplayFor(model => model.user.City),

                @Html.DisplayFor(model => model.user.State)

                @Html.DisplayFor(model => model.user.ZipCode)<br />



            </div>

        </div>


        <form asp-action="Profiles" asp-controller="RegularUsers">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <br />



            <div class="container-fluid">

                <textarea class="form-control text-center" rows="5" style="color:#808080; background-color:rgba(126, 250, 255,.3);" asp-for="@Model.message.Message"> </textarea>
                <span asp-validation-for="@Model.message.Message" class="text-danger"></span>
                <br />
                <span class="help-block" style="display:none">@DateTime.Now</span>

            </div>
            <div class="form-group">
                <input type="hidden" asp-for="message.To" value="@Model.user.ApplicationUserId" />
                <input type="hidden" asp-for="message.Sender" value="@Model.user.UserName" />
                <input type="hidden" asp-for="message.DateSent" value="@DateTime.Now" />

                <input type="submit" value="Send Message" class="btn btn-zeen" />
            </div>
        </form>
    </div>
</div>


<style>
    img {
        width: 200px;
        height: 200px;
    }

    .socket {
        opacity: .2;
    }
</style>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>