@model _ZEEN.Models.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Details";
}



<div class="container-fluid text-center">

    <hr />

    <div class="row">
        <img src="@Html.DisplayFor(model => model.user.AvatarImage)" alt="Avatar">

        <h4 class="lead" style="padding-top:5px;">
            @Html.DisplayFor(model => model.user.UserName)

        </h4>
    </div>

   
    <div class="row" style="font-size:15px; color:black;">

        @Html.DisplayNameFor(model => model.user.FirstName)
        @Html.DisplayFor(model => model.user.FirstName)<br /><br />


        @Html.DisplayNameFor(model => model.user.LastName): @Html.DisplayFor(model => model.user.LastName)<br /><br />
        Gender: @Html.DisplayFor(model => model.user.Gender)<br /><br />

        @Html.DisplayNameFor(model => model.user.Bio): @Html.DisplayFor(model => model.user.Bio)<br /><br />
        Website: @Html.DisplayFor(model => model.user.WebSite)<br /><br />

        Address: @Html.DisplayFor(model => model.user.Street)

        @Html.DisplayFor(model => model.user.City),

        @Html.DisplayFor(model => model.user.State)

        @Html.DisplayFor(model => model.user.ZipCode)
        <br />
        <br />

        <a asp-action="EditProfile" asp-controller="RegularUsers" class="btn btn-info">Edit Profile</a>

    </div>
    
</div>



<style>

    img {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        text-align: center;
    }
</style>