@model _ZEEN.Models.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Details";
}



<div class="container-fluid ">
    <div class="col-md-6 margin-auto">

        <div class="row">

            <img class="rounded-circle border-white margin-auto" src="@Html.DisplayFor(model => model.user.AvatarImage)" alt="Avatar">
            <hr class="socket" />

            <div class="container text-zeen" style="padding-top:.5rem;">

                @Html.DisplayFor(model => model.user.UserName)  <br />
                Balance : $@Html.DisplayFor(model => model.user.Wallet)


            </div>
        </div>

        <hr class="socket" />

        <div class="row">

            <div class="container text-zeen-dark">
                @Html.DisplayNameFor(model => model.user.FirstName):
                @Html.DisplayFor(model => model.user.FirstName)<br />



                @Html.DisplayNameFor(model => model.user.LastName): @Html.DisplayFor(model => model.user.LastName)<br />
                Gender: @Html.DisplayFor(model => model.user.Gender)<br />

                @Html.DisplayNameFor(model => model.user.Bio): @Html.DisplayFor(model => model.user.Bio)<br />
                Website: @Html.DisplayFor(model => model.user.WebSite)<br />

                Address: @Html.DisplayFor(model => model.user.Street)

                @Html.DisplayFor(model => model.user.City),

                @Html.DisplayFor(model => model.user.State)

                @Html.DisplayFor(model => model.user.ZipCode)
                <br />
                <br />
            </div>

        </div>
        <a asp-action="EditProfile" asp-controller="RegularUsers" class="btn btn-zeen">Edit Profile</a>

    </div>
</div>



<style>
    img{
        width:200px;
        height:200px;
    }
    .socket{
        opacity:.2;
    }
  
</style>