@model _ZEEN.Models.ViewModels.SellerViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="container body-content">
    <div class="col-md-6">

        <div class="card mb-3">

            <img class="img-responsive" style="height: 350px; width: 100%; display: block;" src="@Html.DisplayFor(model => model.sale.Image)" alt="Card image">
            <div class="card-body">
                <strong style="width:100%;">
                    <i class="far fa-thumbs-up"></i> 
                    
                    <a class="fb-share-button" data-href="https://moh-media.com/" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"></a></a>

                    <a class="fb-comments" data-href="http://localhost:50489" data-width="100%" data-numposts="5"></a>


                </strong>
            </div>
        </div>

    </div>

    <div class="col-md-6">

        <h6 class="card-title">
            <a style="color:black" asp-action="Profiles" asp-controller="RegularUsers" asp-route-id="@Model.user.ApplicationUserId"> Posted by @Html.DisplayFor(model => model.user.UserName)</a>
            <img class="img-circle" style="height: 50px; width: 50px; display: block;" src="@Html.DisplayFor(model => model.user.AvatarImage)" alt="Card image">

        </h6>
        <div class="card border-secondary" style="max-width: 40rem;">
            <div class="card-body">
                <h3 class="card-title">
                    @Html.DisplayFor(model => model.sale.Detail)
                </h3>
                <p class="card-text">
                    @Html.DisplayFor(model => model.sale.Discription)
                </p>
                <p class="card-text">
                    <span style="font-weight:bold;"> @Html.DisplayFor(model => model.sale.Brand)</span> | For @Html.DisplayFor(model => model.sale.Gender)
                </p>

                <h3 class="card-link" style="font-weight:900;">
                    $ @Html.DisplayFor(Model => Model.sale.UnitPrice)
                </h3>

                <h5 class="card-link" style="font-weight:900;">
                    @Html.DisplayNameFor(model => model.sale.Size)

                    <button class="btn btn-default"> @Html.DisplayFor(Model => Model.sale.Size)</button>


                </h5>
            </div>
            <a class="btn" style="color:#ffffff; background-color:gray;" asp-action="Payment" asp-controller="Payments" asp-route-id="@Model.sale.Id"> Buy Now</a>

        </div>

    </div>
</div>

@*Show this only to User who posted
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Home</a>
    </div>*@
<style>
    .body-content {
        margin-top: 2.5%;
    }

    .card-body {
        margin-top: 5%;
    }

    .far {
        font-size:3rem; 
        padding-right:1rem;
    }
    .far:hover {
        font-size: 3rem;
        padding-right: 1rem;
        cursor:pointer;
    }
</style>

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=163240460893585&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=163240460893585&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>