@model _ZEEN.Models.ViewModels.SellerViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="container body-content">
    <div class="col-xs-6 col-md-6">

        <div class="card mb-3">

            <img class="img-responsive" style="height: 350px; width: 100%; display: block;" src="https://di2ponv0v5otw.cloudfront.net/posts/2018/02/18/5a89bcf884b5cea26f4d40cc/s_5a89bd4c72ea88d0ecc46e0b.jpg" alt="Card image">
            <div class="card-body">

                <a class="card-link">Like</a> |
                <a class="card-link">Comment</a> |
                <a class="card-link">Share</a>
            </div>
        </div>

    </div>

    <div class="col-xs-6 col-md-6">


        <div class="card border-secondary mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h3 class="card-title">
                    @Html.DisplayFor(model => model.sale.Detail)
                </h3>
                <p class="card-text">
                    @Html.DisplayFor(model => model.sale.Discription)
                </p>
                <p class="card-text">
                    <span style="font-weight:bold;"> @Html.DisplayFor(model => model.sale.Brand)</span> | For @Html.DisplayFor(model => model.sale.Gender)
                </p>

                <h3 class="card-link" style="font-weight:900;">
                    $ @Html.DisplayFor(Model => Model.sale.UnitPrice)
                </h3>

                <h5 class="card-link" style="font-weight:900;">
                    @Html.DisplayNameFor(model => model.sale.Size)

                    <button class="btn btn-default"> @Html.DisplayFor(Model => Model.sale.Size)</button>


                </h5>
            </div>

            <button type="button" class="btn btn-primary btn-lg btn-block">Buy now with PayPal</button>
        </div>




    </div>
</div>

@*Show this only to User who posted
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Home</a>
    </div>*@
<style>
    .body-content {
        margin-top: 2.5%;
    }

    .card-body {
        margin-top: 5%;
    }
</style>