@model _ZEEN.Models.ViewModels.SellerViewModel

@{
    ViewData["Title"] = "Available Sales";
}


    <h5 class="right">

        <a style="color:black; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:15px;" asp-action="Create" asp-controller="Sales">Sell on <strong>ZEEN </strong></a>
    </h5>

    <nav class="navbar navbar-default">


        <form asp-controller="Sales" asp-action="Index" class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" name="SearchString" placeholder="Search Listings">
            </div>
            <button type="submit" class="btn btn-default">Search</button>



            <div class="btn-group">
                <a class="btn btn-default dropdown-toggle bottom" data-toggle="dropdown" aria-expanded="false">
                    All
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a asp-controller="Sales" asp-action="Index" name="Men"> Men</a></li>
                    <li><a asp-controller="Sales" asp-action="Index" name="Woman"> Woman</a></li>
                    <li><a asp-controller="Sales" asp-action="Index" name="Clothing"> Clothing</a></li>
                    <li><a asp-controller="Sales" asp-action="Index" name="Shoes"> Shoes</a></li>
                    <li><a asp-controller="Sales" asp-action="Index" name="Jewelry"> Jewelry</a></li>
                    <li><a asp-controller="Sales" asp-action="Index" name="Watches"> Watches</a></li>

                </ul>
            </div>
        </form>





    </nav>








    <div class="body body-content">
        @foreach (var item in Model.sales)
        {
            <div class="col-xs-6 col-sm-4">



                <div class="card mb-3">
                    <a asp-action="Details" asp-route-id="@item.Id" style="color:black">

                        <h3 class="card-header">
                            @Html.DisplayFor(modelItem => item.Detail)
                        </h3>

                        <div class="card-body">
                            <h5 class="card-title"></h5>
                        </div>
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <img style="height: 200px; width: 100%; display: block;" src="@Html.DisplayFor(modelItem => item.Image)" alt="Card image">
                    </a>
                    <div class="card-body">
                        <a class="card-link" style="font-weight:900;">
                            $ @Html.DisplayFor(modelItem => item.UnitPrice)
                        </a>
                        <a class="card-link">@Html.DisplayFor(modelItem => item.Gender)</a>
                        <a class="card-link">
                            @Html.DisplayNameFor(model => model.sale.Size)
                            @Html.DisplayFor(modelItem => item.Size)
                        </a> |
                        <a class="card-link">@Html.DisplayFor(modelItem => item.Brand)</a>

                    </div>
                    <div class="card-footer text-muted">
                        
                    
                        Posted X Days ago
                    </div>


                </div>

            </div>


        }

    </div>