@model _ZEEN.Models.ViewModels.SellerViewModel

@{
    ViewData["Title"] = "Available Sales";
}




<nav class="search navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" style="color:black; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:15px;" asp-action="Create" asp-controller="Sales">Sell on <strong>ZEEN </strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Brands <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Category</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Sales & Events
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
        </ul>
        <form asp-controller="Sales" asp-action="Index" role="search" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" name="SearchString" placeholder="Search Listings">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>








<div class="container">

    <div class="row">
        @foreach (var item in Model.sales)
        {
            <div class="col-md-4">



                <div class="card mt-6">

                    <a asp-action="Details" asp-route-id="@item.Id">
                        <img class="img-fluid" style="height: 200px; width: 100%; display: block;" src="@Html.DisplayFor(modelItem => item.Image)" alt="Card image">
                    </a>

                    <a asp-action="Details" asp-route-id="@item.Id" style="color:black">


                        <div class="card-body">
                            <h6 class="card-title">
                                @Html.DisplayFor(modelItem => item.Detail)

                            </h6>
                        </div>
                    </a>
                    <div class="card-body">
                        <a class="card-link">@Html.DisplayFor(modelItem => item.Gender)</a>
                        <a class="card-link">
                            @Html.DisplayNameFor(model => model.sale.Size)
                            @Html.DisplayFor(modelItem => item.Size)
                        </a>
                        <a class="card-link">@Html.DisplayFor(modelItem => item.Brand)</a>
                        <h6 class="card-title">
                            $ @Html.DisplayFor(modelItem => item.UnitPrice)
                        </h6>
                    </div>
                </div>

            </div>


        }

    </div>
</div>

<script>

</script>