@model _ZEEN.Models.ViewModels.SellerViewModel

@{
    ViewData["Title"] = "Listing";
}



<nav class="navbar navbar-default">

<h4> Seller Dashboard</h4>

</nav>



<div class="container body-content">
    @foreach (var item in Model.sales)
    {
        <div class="col-xs-12 ">



            <div class="card mb-3">
                @*<a asp-action="Details" asp-route-id="@item.Id" style="color:black">*@

                <h4 class="card-header">
                    @Html.DisplayFor(modelItem => item.Detail)
                </h4>

                <div class="card-body">
                    <h5 class="card-title"></h5>
                </div>
                @*</a>*@
                <img style="height: 50px; width: 10%; display: block;" src="https://di2ponv0v5otw.cloudfront.net/posts/2018/10/05/5bb7f7ed035cf1ffa79cbfee/m_5bb7f831409c1558227aa607.jpg" alt="Card image">
                <div class="card-body">
                    <a class="card-link" style="font-weight:900;">
                        $ @Html.DisplayFor(modelItem => item.UnitPrice)
                    </a>
                    <a class="card-link">@Html.DisplayFor(modelItem => item.Gender)</a>
                    <a class="card-link">
                        @Html.DisplayNameFor(model => model.sale.Size)
                        @Html.DisplayFor(modelItem => item.Size)
                    </a> |
                    <a class="card-link">@Html.DisplayFor(modelItem => item.Brand)</a>

                </div>
              

                <a asp-action="Edit" asp-route-id="@item.Id" style="font-weight:bold;">Update</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" style="color:orangered;font-weight:bold;">Remove</a> |
                <a asp-action="Ship" asp-route-id="@item.Id" style="color:darkolivegreen;font-weight:bold;">Ship Item</a>
                <br />
                <span style="color:rgba(128, 128, 128,.3)"><strong>ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ</strong> </span>

            </div>

        </div>


    }

</div>


<div class="container body-content">
    @foreach (var item in Model.shippings)
    {
        <div class="col-xs-12 ">

                <h4 class="card-header">
                    @Html.DisplayFor(modelItem => item.FirstName)
                </h4>

                <h4 class="card-header">
                    @Html.DisplayFor(modelItem => item.LastName)
                </h4>
                <h4 class="card-header">
                    @Html.DisplayFor(modelItem => item.Street)
                </h4>
            </div>



    }
    </div>