@model _ZEEN.Models.ViewModels.SellerViewModel

@{
    ViewData["Title"] = "Orders";
}


<div class="container-fluid body-content">
    <div class="row">
        @foreach (var item in Model.sales)
        {
            <div class=" col-md-3 margin-auto">



                <div class="card mb-3 no-hover">
                    @*<a asp-action="Details" asp-route-id="@item.Id" style="color:black">*@


                    <div class="card-body">
                        <h6 class="card-title">
                            @Html.DisplayFor(modelItem => item.Detail)

                        </h6>
                    </div>
                    @*</a>*@
                    <img style="height: 200px; width: 100%; display: block;" src="@Html.DisplayFor(modelItem => item.Image)" alt="Card image">
                    <div class="card-body">
                        <a class="card-link" style="font-weight:900;">
                            $ @Html.DisplayFor(modelItem => item.UnitPrice)
                        </a>
                        <a class="card-link">@Html.DisplayFor(modelItem => item.Gender)</a>
                        <a class="card-link">
                            @Html.DisplayNameFor(model => model.sale.Size)
                            @Html.DisplayFor(modelItem => item.Size)
                        </a> |
                        <a class="card-link">@Html.DisplayFor(modelItem => item.Brand)</a>

                    </div>


                    <a asp-action="CancelOrders" asp-route-id="@item.Id" class="btn btn-danger text-white">Cancel</a>

                </div>
            </div>

        }

    </div>


</div>