@model _ZEEN.Models.ViewModels.BuyerViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="body-content text-zeen-dark">
    <div class="col-md-6 mt-6 margin-auto ">
        <div class="container">
            <h4>  Shipping Information </h4>

            <div>
                <strong>
                    Full Name :  @Html.DisplayFor(model => model.user.FirstName)
                    @Html.DisplayFor(model => model.user.LastName)
                </strong>
            </div>
            <strong>
                Address :  @Html.DisplayFor(model => model.user.Street) ,
                @Html.DisplayFor(model => model.user.City)   ,
                @Html.DisplayFor(model => model.user.State)
                @Html.DisplayFor(model => model.user.ZipCode)
            </strong>
        </div>

        <hr class="socket mt-4" style="width:25%; opacity:.25;" />

        <h4 class="mt-6"> Product Confirmation </h4>

        <strong>
            @Html.DisplayFor(model => model.sale.Detail)
        </strong>

        <img class="img-fluid margin-auto mt-4 mb-4" style="height: 200px; width: 50%; display: block;" src="@Html.DisplayFor(Model => Model.sale.Image)" alt="Card image">
    
        <div class="container text-zeen-dark">
            <h6 class="">  @Html.DisplayNameFor(model => model.sale.Size) : @Html.DisplayFor(Model => Model.sale.Size) </h6>

            <h6 class="lead "> Total Amount :  <span style="font-weight:900;">$ @Html.DisplayFor(Model => Model.sale.UnitPrice)  </span> </h6>




        </div>



        <div class="container">
            @using Microsoft.Extensions.Options
            @inject IOptions<StripeSettings> Stripe
            <form asp-action="Payment" asp-controller="Payments">
                <article>
                    <label></label>
                </article>
                <script src="//checkout.stripe.com/v2/checkout.js"
                        class="stripe-button"
                        data-key="@Stripe.Value.PublishableKey"
                        data-locale="auto"
                        data-description="Sample Charge"
                        data-amount="@(Model.sale.UnitPrice*100)">
                </script>
            </form>
        </div>
    </div>
</div>


<style>
</style>

